body{
    background-color: lightseagreen;
    color:palegreen;

}
h1{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
}

.container01{
    display: flex;
    justify-content: center;
    color: black;
}
/*.container0{
    display: flex;
    justify-content: center;
    color: black;
    word-spacing: 40px
}*/

pBM{
    display:inline;
    color: black;
    padding-left: 385px;
    font-weight: bolder;
    font-size: 20px;
}
p2{
    padding-left: 30px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    display:inline;

}

p3{
    padding-left: 40px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    display:inline;

}

p4{
    padding-left: 33px;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    display:inline;

}

p5{
    padding-left: 25px;
    color: black;
    font-weight: bolder;
    font-size: 30px;
    display:inline;

}